<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>

    <p>
    DécorCraft Studio: Crafting timeless elegance for your home, where every piece is a canvas for your unique style. Explore our curated collection and design a space that feels uniquely yours – because your home deserves nothing less than the extraordinary.
    </p>

    <div style="text-align: center;"> <a href="http://localhost:8080/">Go to Main Screen</a> </div>
</body>
</html>